@font-face {
    font-family: "Fraunces";
    src: url("assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
}

@font-face {
    font-family: "Manrope";
    src: url("assets/fonts/manrope/Manrope-VariableFont_wght.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

:root {
    /* Colours */
    --green: #44ffa1;
    --purple-900: #24053e;
    --purple-500: #584d62;
    --purple-100: #fcf8ff;
}

/* Text */

.text-1 {
    font-size: 4rem;
    font-family: "Fraunces", cursive;
    font-weight: 400;
    letter-spacing: -.2rem;
}

.text-2 {
    font-size: 3.2rem;
    font-family: "Fraunces";
    font-weight: 600;
    line-height: 120%;
}

.text-3 {
    font-size: 2.4rem;
    font-family: "Fraunces";
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -.2rem;
}

.text-4 {
    font-family: "Manrope";
    font-size: 1.6rem;
    line-height: 180%;
}

.text-5 {
    font-family: "Manrope";
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 150%;
}

/* ! Common */

.flex-row-container {
    display: flex;
}

.flex-col-container {
    display: flex;
    flex-direction: column;
}

.btn-green {
    border: none;
    background-color: var(--green);
    color: var(--purple-900);
}

.circle {
    width: 350vw;
    height: 300vw;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: -290vw;
    transform: translateX(-50%);
}

.pad {
    padding-left: 2rem;
    padding-right: 2rem;
}

.circle-container {
    height: 15rem;
    position: relative;
    overflow: hidden;
}

.hero-spiral {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}


/* ! Hero section */

.hero {
    height: 65rem;
    background-color: var(--purple-100);
}

.navbar {
    background-color: var(--purple-900);
    height: 6.7rem;
    color: white;
}

.nav-container {
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    position: relative;
}

.nav-link::after {
    position: absolute;
    left: 0;
    bottom: -.5rem;
    content: "";
    width: 100%;
    height: .2rem;
    background-color: var(--green);

}

.hero-banner {
    min-height: 35rem;
    background-color: var(--purple-900);
    padding-top: 5.6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    position: relative;
}


.hero-spiral-1 {
    width: 50%;
    top:-15%;
    left: -30rem;
    height: 50rem;
    background-image: url("assets/images/bg-pattern-1.svg");
}

.hero-spiral-2 {
    width: 30%;
    bottom: 0;
    right: -15rem;
    height: 30rem;
    background-image: url("assets/images/bg-pattern-2.svg");
}

.hero-headline {
    min-height: 19rem;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-text span {
    position: relative;
}

.hero-text span::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -.1rem;
    background-color: var(--green);
    width: 100%;
    content: "";
    height: .2rem;
}

.hero-btn {
    width: 15.1rem;
    height: 5.3rem;
    margin-top: 4rem;
    padding: 1rem 2rem;
}


.hero-banner img {
    width: 70vw;
    max-width: 110rem;
    height: auto;
    position: absolute;
    left: 50%;
    bottom: max(-30vw, -55rem);
    transform: translateX(-50%);
    z-index: 10;
}

.circle-1 {
    background-color: var(--purple-900); 
}

/* ! Info section */

.info-section {
    background-color: var(--purple-100);
}

.info-section-container {
    display: grid;
    grid-template-rows: 6;
    grid-template-columns: 1fr;
    gap: 4rem;
    padding-top: 8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
}

.info-number {
    width: 4.8rem;
    height: 4.8rem;
    border: .14rem solid var(--purple-900);
    border-radius: 50%;
    color: var(--purple);
    margin-bottom: 0.8rem;
    text-align: center;
    justify-self: center;
}

.number-1,
.number-2,
.number-3 {
    grid-column: 1;
    align-content: center;
    justify-content: center;
}

.number-1 { 
    grid-row: 1
}

.number-1-info {
    grid-column: 1;
    grid-row: 2;
}

.number-2 { 
    grid-row: 3
}

.number-2-info {
    grid-column: 1;
    grid-row: 4;
}

.number-3 { 
    grid-row: 5
}

.number-3-info {
    grid-column: 1;
    grid-row: 6;
}


.info-section .circle-container {
    height: 10rem;
    background-color: white;
}

.circle-2 {
    background-color: var(--purple-100);
}

/* ! Founder section */

.founder-section {
    position: relative;
}


.founder-section-container {
    padding-top: 3rem;
    position: relative;
}

.founder-pic-container {
    width: 100%;
    height: 28rem;
    background-image: url("assets/images/image-founder.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.founder-box {
    width: 90%;
    max-width: 80rem;
    text-align: center;
    color: white;
    padding: 3.2rem;
    gap: 3.2rem;
    background-color: var(--purple-900);
    position: relative;
    top: -6rem;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.founder-btn {
    width:19.1rem;
    height: 5.3rem;
}

/* Footer section */

.footer-container {
    padding-bottom: 8rem;
}

.footer-info {
    align-items: center;
    justify-content: space-between;
    height: 10.061rem;
}

.socials {
    justify-content: center;
    gap: 3rem;
}

@media (min-width: 520px) {

    .hero {
        height: 72rem;
    }

    .hero-banner {
        height: 45rem;
        
    }

    .hero-headline {
        height:24rem;
    }
}

/* ! Tablet - info section changes position here */
@media (min-width: 629px) {

    .pad {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .info-section-container {
        gap: 6rem;
    }

    .info-section-container {
        grid-template-rows: 3;
        grid-template-columns: 12rem, 1fr;
        text-align: left;
    }

    .number-1,
    .number-2,
    .number-3 {
        grid-column: 1;
        align-self: center;
    }

    .number-1 { 
        grid-row: 1;
    }

    .number-1-info {
        grid-column: 2;
        grid-row: 1;
        text-align: left;
    }

    .number-2 { 
        grid-row: 2;
    }

    .number-2-info {
        grid-column: 2;
        grid-row: 2;
    }

    .number-3 { 
        grid-row: 3
    }

    .number-3-info {
        grid-column: 2;
        grid-row: 3;
    }

    .info-heading {
        align-self: flex-start;
    }

}


@media (min-width: 830px) {
    .hero {
        height: 80rem;
    }

    .hero-banner {
        height: 50rem;
        
    }

    .hero-headline {
        height:29rem;
    }

    .circle-container {
        height: 30rem;
    }

    .info-section .circle-container {
        height: 34rem;
    }

    .founder-section-container {
        display: flex;
        position: relative;
    }

    .founder-box {
        margin-right: 0;
        min-height: 39rem;
        text-align: left;
        justify-content: left;
        align-items: flex-start;
        flex-basis: 160%;
        top: 0;
    }

    .founder-pic-container {
        justify-content: flex-end;
        background-size:contain;
        position: relative;
        width: 50rem;
        height: 100%;
        
    }

}

@media (min-width: 1027px) {

    .info-section-container {
        grid-template-rows: 2;
        grid-template-columns: repeat(3, 30rem);
    }
    

    .number-1 { 
        grid-column: 1;
        grid-row: 1;
    }

    .number-1-info {
        grid-column: 1;
        grid-row: 2;
        text-align: center;
    }

    .number-2 { 
        grid-row: 1;
        grid-column: 2;
    }

    .number-2-info {
        grid-column: 2;
        grid-row: 2;
    }

    .number-3 { 
        grid-row: 1;
        grid-column: 3;
    }

    .number-3-info {
        grid-column: 3;
        grid-row: 2;
    }

    .info-heading {
        align-self: center;
    }

    .info-text {
        align-self: center;
        text-align: center;
    }
}

@media (min-width: 1383px) {


}

@media (min-width: 1400px) {

    .hero {
        height: 90rem;
    }

    .hero-banner {
        height: 60rem;
    }

    .circle-container {
        height: 40rem;
    }
}

